*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    background-color: lightblue;
}

h1{
    background-color: white;
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
}